.color-item-navbar{
    color: white;
}


#nuestra-mision h1,
#nuestra-mision p {
    color: rgb(254, 249, 249);
}


/*    estilo de la pagina fondo negro */

.black {
  background-color: black;
  color: white; /*  fondo del volver negro*/
}

body {
      /*margen de margin: 20px; le da margen  contorno de arriba
      los costados*/
    text-align: center;
    background-color: black; 
    padding: 0;
}

.container {
    display: inline-block;
    text-align: left;
}

main {
    background-color: black;
    color: rgb(254, 253, 253);  /* color del texto */
    padding: 20px;
}

.footer-container {
    background-color: black;
    color: white;
    padding: 10px;
}

.horizontal-space {
    height: 50px;
    background-color: white;
}

.black-space {
    height: 50px;
    background-color: black;
}

.enlaces a img {
    background-color: white; /* Agrega fondo blanco a las imágenes enlaces */
}


.raccoon{
  transition: all 0,3s;
}


.raccoon:hover{
  transform: scale(1.15);
}



.card{
  transition: all 0,2s;
}


.card:hover{
  transform: scale(1.15);
}
/*fin estilos fondo de pagina y margen*/






/* Estilo para el contenedor  de hernan saavedra  imagen blanca con fondo negro */
.bg-dark-container {
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
}

/* Estilo para el texto de la sección de imagen */
.image-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

/* Estilo para la sección del equipo */
.team-section {
    margin-top: 50px; position: relative;
    text-align: center; /* Centrar el contenido horizontalmente */
    
    }

/* Estilo para el texto dentro del contenedor blanco */
.bg-white h5,
.bg-white .small {
    color: #000;
}


/* fin estilos hernancito*/



/*  tamaño del video  y centrado de hernancito */

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.video-container iframe {
    width: 70vw; /* Ancho del video */
    height: 39.375vw; /* Altura del video */
    max-width: 100%;
    max-height: 56.25vh;
}

/*footer*/
.site-footer
{
  background-color:#010206; /* color de fondo del footer*/
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#f6f0f0; /* color letras parte derecha del lado izquierdo footer*/
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#f8f3f3; /* texto parte de abajo del footer */
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a /* colores de links lado izquierdo footer*/
{
  color:#f8f4f4
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d /* colores de los circulos  de iconos */
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#000000;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}



/*api 
#map {
  height: 100vh;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.grid-template-column-3-4 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.input {
  display: flex;
  width: 90%;
  height: 2rem;
}

.bg-gray {
  background-color: aliceblue;
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}

.mt-1 {
  margin-top: 1rem;
}