{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Ciberseguridad</title>
    <link rel="icon" type="image/png" href="images/favicom.png">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous" />
        <link rel="icon" type="image/vnd.icon" href="/ProyectoWeb/images/racoon.logo.png">
   
    <link rel="stylesheet" href="styles.css"> <!-- estilos de formato de pagina -->
</head>

<body>
  <header>
    <!-- Menu de navegacion -->

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark container-fluid">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="images/racoon.logo-removebg-preview.png" alt="Logo" width="150"
            height="150" class="d-inline-block align-text-top">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                  <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="MisionVision.html">Quienes Somos</a>
                      <li class="nav-item dropdown">

                  <li class="nav-item dropdown ">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Categorias
                      </a>
                      <ul class="dropdown-menu bg-secondary">
                          <li><a class="dropdown-item" href="ciberseguridad.html">Ciberseguridad</a></li>
                          <li><a class="dropdown-item" href="IA.html">Inteligencia Artificial</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="noticiasDuoc.html">Noticias Duocs</a></li>
                          </ul>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="Carrito.html">Cursos</a>
                  </li>

                  <button
                  type="button"
                  class="btn btn-dark"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  Usuarios
                </button> 
                  

                  </li>
                  </li>
                  </ul>
                  
              </ul>
              <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
          </div>
      </div>
  </nav>
  </header>
    
            <!-- boton volver -->
            
            <div class="d-grid gap-2 d-md-flex justify-content-md-end container-fluid bg-black">
                <a href="javascript:history.back()" class="btn btn-primary" role="button">Volver</a>
            </div>


           
<!--banner diario-->
    <img 
    img src="/ProyectoWeb/images/diario.png" class="img-fluid" alt="banner">
    <br><br>
    <div class="card text-center text-white bg-black">
      <div class="card-header bg-dark">
        Noticias Caos News-2024
      </div>
      <div class="card-body bg-black">
        <h5 class="card-title text-white">Ley Marco de Ciberseguridad es publicada en el Diario Oficial</h5>
        <p class="card-text text-white">Hoy lunes 8 de abril fue publicada la nueva ley marco, que tiene por objetivo establecer la institucionalidad, los principios y la normativa general que permitan estructurar, regular y coordinar las acciones de ciberseguridad de los organismos del Estado y de los particulares que prestan servicios esenciales para el funcionamiento del país.</p>
        <a href="#lol" class="btn btn-warning">leer mas</a>
      </div>
      <div class="card-footer text-white bg-dark  ">
        8 de abril de 2024 a las 10:50
      </div>
    </div>
    <div class="container-fluid ">
   
      <div class="card container-fluid bg-black">
        <div class="card-body bg-black text-white">
          <p>Con la publicación en el Diario Oficial, la Ley N°21.663 Marco de Ciberseguridad se convierte en ley el modelo de gobernanza en ciberseguridad, lo que representa un avance importante en materia de seguridad digital para todos los ciudadanos, y un paso que pone a Chile en la vanguardia a nivel latinoamericano.</p>
<p> la ley se se crean las siguientes capacidades: </p> 
            La Agencia Nacional de Ciberseguridad (ANCI)
            El Consejo Multisectorial, mientras que se mantiene el Comité Interministerial de Ciberseguridad
            La Red de Conectividad Segura del Estado.
            
            <p>El CSIRT Nacional y el CSIRT de Defensa  Además, la nueva ley define los servicios esenciales, es decir, aquellos provistos por los organismos de la Administración del Estado y por el Coordinador Eléctrico Nacional, los prestados bajo concesión de servicio público y por aquellas instituciones privadas que realicen las siguientes actividades:
           
             generación, transmisión o distribución eléctrica; transporte, almacenamiento o distribución de combustibles; suministro de agua potable o saneamiento; telecomunicaciones; infraestructura digital; servicios digitales y servicios de tecnología de la información gestionados por terceros; transporte terrestre, aéreo, ferroviario o marítimo, así como la operación de su infraestructura respectiva; banca, servicios financieros y medios de pago; administración de prestaciones de seguridad social; servicios postales y de mensajería; y prestación institucional de salud por entidades tales como hospitales y clínicas.
            
            Así también, la agencia podrá designar otros servicios como esenciales cuando su afectación cause un grave daño a la vida o integridad física de la población o a su abastecimiento.
            
            Cabe destacar que los servicios esenciales tendrán dos obligaciones: el deber de adoptar medidas permanentes para prevenir, reportar y resolver incidentes de ciberseguridad: protocolos y estándares de la ANCI o sectoriales; y el deber de reportar al CSIRT Nacional los ciberataques e incidentes de ciberseguridad que puedan tener efectos significativos. </p>
        </div>
      </div>
    </div>
 <!--prueba pag-->

            
            <!--prueba pag-->

   
  
    
   
    <div class="d-grid gap-2 col-6 mx-auto container-fluid">
      <br>
      <a class="btn btn-warning" href="https://www.gob.cl/noticias/ley-marco-ciberseguridad-regulacion-servicios-publicos-privados-promulgacion/"  target="_blank" role="button">Revisa la ley Aqui</a>
      <br>
    </div>
 <br>
 <!--cards-->
 <div class="card-group bg-black">
  <div class="card bg-dark ">
    <img src="/ProyectoWeb/images/1-2.2e16d0ba.fill-800x400.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-white">¿Como Identificar Una Fake News?</h5>
      <p class="card-text text-white">concejos y mas sobre las fake news.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-warning bg-warning text-black" target="_blank" href="https://ciberseguridad.gob.cl/ciberconsejos/como-identificar-las-fake-news/" role="button">Revisa aqui</a>
    </div>
  </div>
  <div class="card bg-dark">
    <img src="/ProyectoWeb/images/1_8T7aD5X.2e16d0ba.fill-800x400.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-white">Como Proteger Tus Datos de Hackers</h5>
      <p class="card-text text-white">Como protegerte de los Ciberdelicuentes.</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-warning bg-warning text-black" target="_blank" href="https://ciberseguridad.gob.cl/ciberconsejos/como-proteger-tus-datos-personales/" role="button">Revisa aqui</a>
    </div>
  </div>
  <div class="card bg-dark">
    <img src="/ProyectoWeb/images/Ciberacoso.2e16d0ba.fill-800x400.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-white">Como Evitar los Ciberacosos</h5>
      <p class="card-text text-white">Como evitarlos y cuidar de los nuestros.</p>
    </div>
    <div class="card-footer ">
      <a class="btn btn-warning bg-warning text-black" target="_blank" href="https://ciberseguridad.gob.cl/ciberconsejos/como-protegerse-del-ciberacoso/" role="button">Revisa aqui</a>
    </div>
  </div>
</div>
<br>
<div >
  <!--portadacit-->
  <img src="images/portada ciit.jpg"
  class="img container-fixed"
  alt="portada ciit"
  width="1320"
  height="250">
</div>
    <footer>
     <!--footer -->
     <footer class="site-footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>NOSOTROS</h6>
          <p class="text-justify">En CaosNews.cl nos esforzamos por ayudar a los programadores emergentes a comprender y dominar las complejidades del desarrollo de software.Ofrecemos una amplia gama de cursos online en diferentes lenguajes de programación, incluyendo C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL y Algoritmos. </p>
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Categorias</h6>
          <ul class="footer-links">
            <li><a href="MisionVision.html">Quienes Somos</a></li>
            <li><a href="ciberseguridad.html">Ciber Seguridad</a></li>
            <li><a href="IA.html">Inteligencia Artificial</a></li>
            <li><a href="noticiasDuoc.html">Noticias Duoc</a></li>
            <li><a href="Carrito.html">Cursos</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Referencias</h6>
          <ul class="footer-links">
            <li><a href="FormularioPeriodista.html">Trabaja con nosotros</a></li>
            <li><a href="/ProyectoWeb/FormularioUsuarios.html">Registrate</a></li>
            <li><a href="index.html">Inicio</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">&copy; 2024 CaosNew.cl Todos los derechos reservados. 
            <a href="images/racoon.logo.png">Raccoon-Devs</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">         
            <li><a class="facebook" href="https://web.facebook.com/"><i class="fa fa-facebook"><img src="images/facebook (4).png" alt="facebook logo"width="30" height="30"></i></a></li>
            <li><a class="youtube" href="https://www.youtube.com/"><i class="fa fa-youtube"><img src="images/youtube (1).png" alt="youtube logo"width="30" height="30"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/"><i class="fa fa-twitter"><img src="images/twitter (1).png" alt="twitter logo"width="30" height="30"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/"><i class="fa fa-instagram"><img src="images/instagram (8).png" alt="instagram logo"width="30" height="30"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
  
   <!-- Modal Usuarios-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header">
          <img src="images/Logo_Puño_Circular_Deportivo_Rojo_Negro__1_-removebg-preview.png" alt="logo" width="100px" height="100px">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ingreso Usuarios</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container"> 
            <form class="m-2">
              <div class="mb-3">
                
                <label for="exampleInputEmail1" class="form-label">Correo</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Recuerda no compartir tus contraseñas</div>
              </div>
              <div class="mb-3">
                
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                
                <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
                <br>
                <a href="#" class="form-check-label" for="exampleCheck1">Olvide mi contraseña</a>
                <a href="/ProyectoWeb/FormularioUsuarios.html" class="form-check-label" for="exampleCheck1">Registrarse</a>
              </div>
              
              <button type="submit" class="btn btn-warning">Ingresar</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cerrar</button>
          
        </div>
      </div>
    </div>
  </div>
  
   <!-- Bootstrap JavaScript Libraries -->
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
   integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
   integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

</body>

</html>
