{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Inteligengia Artificial</title>
    <link rel="stylesheet" href="styles.css">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous" />
        <link rel="icon" type="image/vnd.icon" href="/ProyectoWeb/images/racoon.logo.png">
    <!-- centrar texto desde nuestro impacto-->
    <link rel="icon" type="image/png" href="images/favicom.png">
</head>

<body>
  <header>
    <!-- Menu de navegacion -->

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark container-fluid">
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="images/racoon.logo-removebg-preview.png" alt="Logo" width="150"
            height="150" class="d-inline-block align-text-top">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                  <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="MisionVision.html">Quienes Somos</a>
                      <li class="nav-item dropdown">

                  <li class="nav-item dropdown ">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Categorias
                      </a>
                      <ul class="dropdown-menu bg-secondary">
                          <li><a class="dropdown-item" href="ciberseguridad.html">Ciberseguridad</a></li>
                          <li><a class="dropdown-item" href="IA.html">Inteligencia Artificial</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="noticiasDuoc.html">Noticias Duocs</a></li>
                          </ul>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="Carrito.html">Cursos</a>
                  </li>

                  <button
                  type="button"
                  class="btn btn-dark"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  Usuarios
                </button> 
                  

                  </li>
                  </li>
                  </ul>
                  
              </ul>
              <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
          </div>
      </div>
  </nav>
  </header>
    
  
 
  <!-- boton volver -->
  <div class="black-space"></div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end container-fluid background-color: black">
      <a href="javascript:history.back()" class="btn btn-primary" id="Raccoon-Devs"role="button">Volver</a>
  </div>

  <div class="black-space"></div>

    <main>
      <body>
        
      
         <!--card principal-->
       
         <div class="card text-bg-dark">
          <img src="images/IAFONDO.gif" class="card-img" alt="FONDOIA"  height="460"  width="390">
          <div class="card-img-overlay ">
             </div>
           </div>
           <br>
      <div class="blog-post text-white container-fluid">
       <h2 class="blog-post-title text-center">Funciones y características de la Inteligencia Artificial</h2>
       <h5 class="blog-post-meta text-center">PUBLICADO EL 15 ENERO, 2023 </h5>
       <strong><p  class="text-center">Se recurre a la IA cuando se considera útil incorporar a un sistema de ordenadores un conocimiento o comportamiento ante los eventos que serían más propios de un ser humano</p></strong>
       <hr>
       <p class="text-center">En el término Inteligencia Artificial, la palabra «artificial» no hace referencia a que la inteligencia sea falsa, sino que no es natural de un ser vivo. Más bien, se trata de una inteligencia creada por el ser humano para que la aplique una máquina. Las siglas AI, y su traducción al castellano IA, se han convertido en palabras de moda que engloban multitud de tecnologías que de alguna manera mejoran o complementan el trabajo humano y/o su capacidad cognitiva.
   
           Podemos decir que una máquina está dotada de Inteligencia Artificial (IA) si hace lo siguiente:
           
           Recoge o absorbe datos.
           Interpreta y aprende de esos datos.
           Aplica el aprendizaje para ejecutar acciones.
           Estos bloques de construcción se basan en algoritmos, que son conjuntos de acciones encaminadas a resolver un problema.
           Podemos asimilarlo al desarrollo cognitivo y motor de un bebé humano. Cuando nacen, no saben distinguir lo que es un perro de un gato, no saben diferenciar al tacto si un objeto es de madera o de plástico, pero su cerebro está continuamente recogiendo datos, que aprende a interpretar en base a feedback del entorno y de sus propios sentidos. En el caso de las máquinas, al no tener sentidos, su principal manera de interpretar los datos es a través de etiquetas. Por ejemplo: esto es una persona, esto otro es un perro; este resultado es correcto, este no.</p>
       
       
      <!--card noticias -->

     

      <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
          <div class="container py-5">
            <h1 class="text-body-emphasis container-fluid">sudokus</h1>
            <p class="col-lg-8 mx-auto lead text-black container-fluid">
               El algoritmo que resuelve sudokus es una forma de IA básica. No aprende, sino que sabe exactamente qué condiciones ha de cumplir cada número que ponga en el sudoku para que sea correcto, y lo que tiene que hacer es probar las diferentes combinaciones que le den el sudoku completo. Aplicado a un problema de una empresa real, podemos pensar en operadores logísticos que utilicen el algoritmo de Dijkstra para optimizar sus rutas de distribución, pues no deja de ser un problema matemático de optimización. Para mas informacion, pincha <a href="https://www.seguritecnia.es/revistas/seg/493/182/index.html
                "> aca.</a>
            </p>
          </div>
        </div>
      </div>
      <!--fin-->
       <br>
       <hr>
      <h1 class="container-fluid  text-center">Tipos de Tecnologias</h1>
       <br><br>
   
       </div>
         
         <d class="row row-cols-1 row-cols-md-3 g-4">
             <div class="col">
               <div class="card h-100">
                 <img src="https://apd-images.imgix.net/uploads/sites/2/2018/09/tecnologia-disruptiva.jpeg?auto=compress%2Cformat&crop=edges&fit=crop&ixlib=php-1.1.0&w=900&s=f51d169b5b7edcc7126960793f0cad7b" class="card-img-top" alt="imagen computacion basica">
                 <div class="card-body">
                   <h5 class="card-title">Tecnologia Disruptiva:</h5>
                   <p>Publicado el 24/09/2018</p>
                   <p class="card-text"> La tecnologia disruptiva es una innovacion tecnologica que deja totalmente obsoletas las que se estan usando hasta ese moment. en este momento actual con gran numero de innovaciones que se producen, las mepresas estan obligadas a renovarse de manera constante para mas informacion.
                 </p>
                 <a class="btn btn-warning bg-warning text-black" target="_blank" href="https://ciberseguridad.gob.cl/ciberconsejos/como-protegerse-del-ciberacoso/" role="button">Revisa aqui</a>
                 </div>
   
               </div>
             </div>
             <div class="col">
               <div class="card h-100">
                 <img src="https://apd-images.imgix.net/uploads/sites/2/2017/11/un-presente-distopico-cuando-un-robot-puede-hacer-mejor-tu-trabajo.jpeg?auto=compress%2Cformat&crop=edges&fit=crop&ixlib=php-1.1.0&w=900&s=d6f979cb0d27a94173670f69602dad96" class="card-img-top" alt="...">
                 <div class="card-body">
                   <h5 class="card-title">Un presente distópico: cuando un robot puede hacer mejor tu trabajo</h5>
                   <p>Publicado el 23/11/2017</p>
                   <p class="card-text"> Es sólo cuestión de tiempo. La robótica, impulsada por una inteligencia artificial cada vez más avanzada, terminará asumiendo, sino todas, la mayoría de las tareas y trabajos que actualmente realizan los seres humanos.
   
                     Es lo que se extrae para mas informacion.
                 </p>
                 <br>
                 <a class="btn btn-warning bg-warning text-black" target="_blank" href="https://ciberseguridad.gob.cl/ciberconsejos/como-protegerse-del-ciberacoso/" role="button">Revisa aqui</a>
                 </div>
   
               </div>
             </div>
             <div class="col">
               <div class="card h-100">
                 <img src="https://apd-images.imgix.net/uploads/sites/2/2018/04/inteligencia-artificial-en-las-empresas-e1523876504646.jpeg?auto=compress%2Cformat&crop=edges&fit=crop&ixlib=php-1.1.0&w=900&s=357c055c24e2a0c2b3acb97f6dbff3d2" class="card-img-top" alt="imagen diplimado ciberseguridad">
                 <div class="card-body">
                     <h5 class="card-title"> Inteligencia Artificial en las empresas</h5>
                     <p>Publicado el 11/04/2018</p>
                     <p class="card-text">La presencia de la inteligencia artificial en las empresas ha aumentado en los últimos años hasta el punto de que prácticamente cualquiera dedicada al sector tecnológico cuenta con algún servicio o cubre alguno de sus procesos con IA.
   
                    </p>
                    <br><br>
                    <a class="btn btn-warning bg-warning text-black" target="_blank" href="https://ciberseguridad.gob.cl/ciberconsejos/como-protegerse-del-ciberacoso/" role="button">Revisa aqui</a>
                 </div>
           
               </div>
             </div>
   </body>
</main>
  <!--  footer -->
  <footer class="site-footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>NOSOTROS</h6>
          <p class="text-justify">En Raccoon-Devs.cl nos esforzamos por ayudar a los programadores emergentes a comprender y dominar las complejidades del desarrollo de software.Ofrecemos una amplia gama de cursos online en diferentes lenguajes de programación, incluyendo C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL y Algoritmos. </p>
        </div>
        <div class="col-xs-6 col-md-3">
          <h6>Categorias</h6>
          <ul class="footer-links">
            <li><a href="MisionVision.html">Quienes Somos</a></li>
            <li><a href="ciberseguridad.html">Ciber Seguridad</a></li>
            <li><a href="IA.html">Inteligencia Artificial</a></li>
            <li><a href="noticiasDuoc.html">Noticias Duoc</a></li>
            <li><a href="Carrito.html">Cursos</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Referencias</h6>
          <ul class="footer-links">
            <li><a href="FormularioPeriodista.html">Trabaja con nosotros</a></li>
            <li><a href="FormularioUsuarios.html">Registrate</a></li>
            <li><a href="index.html">Inicio</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">&copy; 2024 CaosNews.cl Todos los derechos reservados.
            <a href="images/racoon.logo.png">Raccoon-Devs</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">         
            <li><a class="facebook" href="https://web.facebook.com/"><i class="fa fa-facebook"><img src="images/facebook (4).png" alt="facebook logo"width="30" height="30"></i></a></li>
            <li><a class="youtube" href="https://www.youtube.com/"><i class="fa fa-youtube"><img src="images/youtube (1).png" alt="youtube logo"width="30" height="30"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/"><i class="fa fa-twitter"><img src="images/twitter (1).png" alt="twitter logo"width="30" height="30"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/"><i class="fa fa-instagram"><img src="images/instagram (8).png" alt="instagram logo"width="30" height="30"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bg-dark text-white">
        <div class="modal-header">
          <img src="images/Logo_Puño_Circular_Deportivo_Rojo_Negro__1_-removebg-preview.png" alt="logo" width="100px" height="100px">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Ingreso Usuarios</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container"> 
            <form class="m-2">
              <div class="mb-3">
                
                <label for="exampleInputEmail1" class="form-label">Correo</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">Recuerda no compartir tus contraseñas</div>
              </div>
              <div class="mb-3">
                
                <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                
                <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
                <br>
                <a href="#" class="form-check-label" for="exampleCheck1">Olvide mi contraseña</a>
                <a href="FormularioUsuarios.html" class="form-check-label" for="exampleCheck1">Registrarse</a>
              </div>
              
              <button type="submit" class="btn btn-warning">Ingresar</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>
