{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Quienes Somos</title>
    <link rel="icon" type="image/png" href="images/favicom.png">
    <link rel="stylesheet" href="styles.css">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
        rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
        crossorigin="anonymous" />
        <link rel="icon" type="image/vnd.icon" href="/ProyectoWeb/images/racoon.logo.png">
    <!-- centrar texto desde nuestro impacto-->
    
</head>

<body>
  <header>
    <!-- Menu de navegacion -->

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark container-fluid " >
      <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="images/racoon.logo-removebg-preview.png" alt="Logo" width="150"
            height="150" class="d-inline-block align-text-top">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                  <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="MisionVision.html">Quienes Somos</a>
                      <li class="nav-item dropdown">

                  <li class="nav-item dropdown ">
                      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Categorias
                      </a>
                      <ul class="dropdown-menu bg-secondary">
                          <li><a class="dropdown-item" href="ciberseguridad.html">Ciberseguridad</a></li>
                          <li><a class="dropdown-item" href="IA.html">Inteligencia Artificial</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="noticiasDuoc.html">Noticias Duocs</a></li>
                          </ul>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="Carrito.html">Cursos</a>
                  </li>

                  <button
                  type="button"
                  class="btn btn-dark"
                  data-bs-toggle="modal"
                  data-bs-target="#exampleModal"
                >
                  Usuarios
                </button> 
                  

                  </li>
                  </li>
                  </ul>
                  
              </ul>
              <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
          </div>
      </div>
  </nav>
  </header>
    
            <!-- boton volver -->
        <div class="black-space  "></div>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end container-fluid bg-black">
               <a href="javascript:history.back()" class="btn btn-primary" role="button">Volver</a>
            </div>
        
            <div class=" container-fluid bg-black">
            <div class="col-md-4 container-fluid bg-black">
                <img class="raccoon mb-4 " src="images/racoon.logo-removebg-preview.png" alt="Imagen de la noticia" >
            </div>
            </div>
         
          
    <main>

      <!-- pruebas boostrap -->
      <p class="d-inline-flex gap-1 container-fluid justify-content-center">
        
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          NUESTRA VISION 
        </button>

        <div class="collapse" id="collapseExample">
          <div class="card card-body bg-dark">
            <div class="col-md-8 container-fluid ">
              <h1>Nuestra Misión</h1>
              <hr>
              <h3class="lead">Fecha de publicación: 08 de Abril de 2024</h3>
              
              <hr>
              <p >"En nuestro camino hacia la excelencia, nuestra misión es educar, inspirar y empoderar a todos aquellos interesados en la informática. Creemos en el poder transformador de la tecnología y buscamos compartir ese conocimiento para impulsar el progreso y la innovación en el mundo digital."</p>
              <h2>Valores Fundamentales</h2>
              <ul>
                  <li><strong>Excelencia:</strong> Nos esforzamos por ofrecer contenido de alta calidad y precisión, respaldado por investigaciones exhaustivas y experiencia en el campo de la informática.</li>
                  <li><strong>Transparencia:</strong> Valoramos la transparencia en nuestra comunicación y relaciones con nuestra audiencia, siendo honestos y objetivos en nuestras opiniones y recomendaciones.</li>
                  <li><strong>Colaboración:</strong> Fomentamos la colaboración y el intercambio de ideas entre nuestra comunidad, reconociendo que juntos podemos aprender y crecer más rápido.</li>
                  <li><strong>Innovación:</strong> Estamos comprometidos con la innovación constante, explorando nuevas tecnologías y tendencias para mantenernos actualizados y relevantes en el panorama tecnológico.</li>
              </ul>
          </div>  
          </div>
          
        </div>
      </p>
      
        <!-- imagenes finales -->
        
        <section class="photo-gallery container-fluid">
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 gallery-grid">
                    <div class="col">
                        <a class="gallery-item" href="C:\Users\kaspe\Desktop\roro\ProyectoWeb\images\imagenvision.jpg">
                            <img src="images/imagen vision 1.jpg" class="img-fluid" alt="persona 1">
                        </a>
                    </div>
                    <div class="col">
                        <a class="gallery-item" href="images/imagen vision 2.jpg">
                            <img src="images/imagen vision 2.jpg" class="img-fluid" alt="persona 2">
                        </a>
                    </div>
                    <div class="col">
                        <a class="gallery-item" href="images/imagen vision 3.jpg">
                            <img src="images/imagen vision 3.jpg" class="img-fluid" alt="persona 3">
                        </a>
                    </div>
                    <div class="col">
                        <a class="gallery-item" href="images/imagen vision 4.jpg">
                            <img src="images/imagen vision 4.jpg" class="img-fluid" alt="persona 4">
                        </a>
                    </div>
                    <div class="col">
                        <a class="gallery-item" href="images/imagen vision 5.jpg">
                            <img src="images/imagen vision 5.jpg" class="img-fluid" alt="persona 5">
                        </a>
                    </div>
                    <div class="col">
                        <a class="gallery-item" href="images/imagen vision 6.jpg">
                            <img src="images/imagen vision 6.jpg" class="img-fluid" alt="imagen 6">
                        </a>

                         
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div class="black-space"></div>

  <!-- Site footer -->
  <footer class="site-footer text-center">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>NOSOTROS</h6>
          <p class="text-justify">En CaosNews.cl nos esforzamos por ayudar a los programadores emergentes a comprender y dominar las complejidades del desarrollo de software.Ofrecemos una amplia gama de cursos online en diferentes lenguajes de programación, incluyendo C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL y Algoritmos. </p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Categorias</h6>
          <ul class="footer-links">
            <li><a href="MisionVision.html">Quienes Somos</a></li>
            <li><a href="ciberseguridad.html">Ciber Seguridad</a></li>
            <li><a href="IA.html">Inteligencia Artificial</a></li>
            <li><a href="noticiasDuoc.html">Noticias Duoc</a></li>
            <li><a href="Carrito.html">Cursos</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Referencias</h6>
          <ul class="footer-links">
            <li><a href="FormularioPeriodista.html">Trabaja con nosotros</a></li>
            <li><a href="/ProyectoWeb/FormularioUsuarios.html">Registrate</a></li>
            <li><a href="index.html">Inicio</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">&copy; 2024 CaosNews.cl Todos los derechos reservados. 
            <a href="images/racoon.logo.png">Raccoon-Devs</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">         
            <li><a class="facebook" href="https://web.facebook.com/"><i class="fa fa-facebook"><img src="images/facebook (4).png" alt="facebook logo"width="30" height="30"></i></a></li>
            <li><a class="youtube" href="https://www.youtube.com/"><i class="fa fa-youtube"><img src="images/youtube (1).png" alt="youtube logo"width="30" height="30"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/"><i class="fa fa-twitter"><img src="images/twitter (1).png" alt="twitter logo"width="30" height="30"></i></a></li>
            <li><a class="instagram" href="https://www.instagram.com/"><i class="fa fa-instagram"><img src="images/instagram (8).png" alt="instagram logo"width="30" height="30"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>
  
 <!-- Modal -->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <img src="images/Logo_Puño_Circular_Deportivo_Rojo_Negro__1_-removebg-preview.png" alt="logo" width="100px" height="100px">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingreso Usuarios</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container"> 
          <form class="m-2">
            <div class="mb-3">
              
              <label for="exampleInputEmail1" class="form-label">Correo</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">Recuerda no compartir tus contraseñas</div>
            </div>
            <div class="mb-3">
              
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              
              <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
              <br>
              <a href="#" class="form-check-label" for="exampleCheck1">Olvide mi contraseña</a>
              <a href="/ProyectoWeb/FormularioUsuarios.html" class="form-check-label" for="exampleCheck1">Registrarse</a>
            </div>
            
            <button type="submit" class="btn btn-warning">Ingresar</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
  

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>

</html>
