{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Star wars</title>
    <link rel="stylesheet" href="{% static 'css/stylestar.css' %}"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet" />
  </head>
  <body>
    <main class="star-wars">
      <h2>Gracias por su compra joven jedi</h2>
      <p>
        Es un período de guerras civiles en la galaxia. Una valiente alianza de luchadores clandestinos por la libertad ha desafiado la
        tiranía y opresión del impresionante IMPERIO GALÁCTICO.
      </p>
      <p>
        Atacando desde una fortaleza escondida entre los mil millones de estrellas de la galaxia, las naves espaciales rebeldes han ganado su primera
        victoria en una batalla con la poderosa Flota Estelar Imperial. El IMPERIO teme que otra derrota pueda traer una
        Si mil sistemas solares más entraran en rebelión, el control imperial sobre la galaxia se perdería para siempre.
      </p>
      <p>
        Para aplastar la rebelión de una vez por todas, el IMPERIO está construyendo una nueva y siniestra estación de batalla. Poderoso
        suficiente para destruir un planeta entero, su finalización significa una perdición segura para los campeones de la libertad.
      </p>
    </main>

    <div class="container-fluid">
      <audio controls autoplay>
        <source src="static/images/y2mate.com - Star Wars Main Theme Full.mp3" >
      </audio>
    </div>
    
  </body>
</html>